@tailwind base;
@tailwind components;
@tailwind utilities;

.ball {
  @apply w-8 h-8 flex items-center justify-center rounded-full text-sm font-medium;
}

.ball-main {
  @apply bg-gray-400 text-white;
}

.ball-extra {
  @apply bg-gray-300 text-gray-800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base font */
body {
  line-height: 1.5;
  background-color: #fff;
  color: #000;
}

a:hover {
  text-decoration: none;
}


