@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base font */
body {
  line-height: 1.5;
  background-color: #fff;
  color: #000;
}

a:hover {
  text-decoration: none;
}
