@tailwind base;
@tailwind components;
@tailwind utilities;

.ball {
  @apply w-8 h-8 flex items-center justify-center rounded-full text-sm font-medium;
}

.ball-main {
  @apply bg-gray-400 text-white;
}

.ball-extra {
  @apply bg-gray-300 text-gray-800;
}


.cell-base {
  @apply flex flex-col items-center justify-center rounded-md py-2 px-3;
}
.cell-gray {
  @apply bg-gray-300 text-black;
}
.cell-yellow {
  @apply bg-yellow-300 text-black;
}
.cell-lightgreen {
  @apply bg-green-300 text-black;
}
.cell-green {
  @apply bg-green-600 text-white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base font */
body {
  line-height: 1.5;
  background-color: #fff;
  color: #000;
}

a:hover {
  text-decoration: none;
}


